<body>

  <div class="container border ">

    <div class="page text-center">

      <div id="carouselExampleControls" class="carousel slide crsl" data-ride="carousel">
        <div class="carousel-inner">
          <div *ngIf="profil.photos.length > 0" class="carousel-item active">
            <img class="border img" [src]="profil.photos[0] ">
          </div>
          <div *ngIf="profil.photos.length > 1" class="carousel-item">
            <img class="border img" [src]="profil.photos[1] ">
          </div>
          <div *ngIf="profil.photos.length > 2" class="carousel-item">
            <img class="border img" [src]="profil.photos[2] ">
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <button type="button" class="btn col-8 btn-primary btn-lg btn-block">SEND A MESSAGE</button>

      <div class="elements border ">
        <p>Name : {{profil.name}}</p>

        <p>Gender : {{profil.sexe}}</p>

        <p>Eyes : {{profil.nberEyes}}</p>

        <p>Skin : {{profil.typeSkin}}</p>

        <p>Job : {{profil.job}}</p>
      </div>
    </div>



    <div class="descriptions1 offset-3 col-6 text-center center d-flex border ">
      <p class="text-center" *ngIf="descriptionlist[index] !== null">{{descriptionlist[index]}}</p>
    </div>

  </div>



</body>