@font-face {
    font-family: "Casanova_Scotia";
    src: url("../../assets/fonts/Casanova_Scotia.otf") format("opentype");
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 7px white;
    margin-top: 5%;
}

h2 {
    text-shadow: 1px 1px 7px gray;
    font-family: "Casanova_Scotia";
}

.block {
    width: 100%;
    height: 400px;
}

.planet {
    display: flex;
    justify-content: center;
}

.borderCarousel {
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    background-color: #ede7f6;
    animation-name: borderLight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.borderSlide {
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(39, 39, 255, 0.5), rgba(255, 255, 0, 0.5));
    animation-name: borderLight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.infoplanet {
    padding: 2rem;;
    border: 2px;
    border-radius: 10px;
    background-color: #ede7f6;
    font-size: 1.5rem;
    animation-name: borderLight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.chooseProfilButton {
    font-size: 1.2rem;
    background-color: #ede7f6;
    font-family: "Casanova_Scotia";
    color: black;
    border: 2px solid #6200ea;
    border-radius: 10px;
    box-shadow: 5px 5px #b39ddb, -5px 5px #b39ddb, -5px -5px #b39ddb, 5px -5px #b39ddb;
}

.chooseProfilButton:hover {
    color: #4a148c;
    background-color: white;
    font-weight: bolder;
    box-shadow: 5px 5px #1de9b6, -5px 5px #1de9b6, -5px -5px #1de9b6, 5px -5px #1de9b6;
}

.btn {
    background-color: #ede7f6;
    font-size: 1.5rem;
    font-family: "Casanova_Scotia";
    color: black;
    border: 2px solid #6200ea;
    border-radius: 10px;

}

.prev {
    font-family: "Casanova_Scotia";
    box-shadow: 1px 5px #b39ddb, -10px 5px #b39ddb, -10px -5px #b39ddb, 1px -5px #b39ddb;
    position: absolute;
    bottom: 30rem;
    left: 1em;
}

.next {
    font-family: "Casanova_Scotia";
    box-shadow: 10px 5px #b39ddb, -1px 5px #b39ddb, -1px -5px #b39ddb, 10px -5px #b39ddb;
    position: absolute;
    bottom: 30rem;
    right: 1em;
}

.prev:hover {
    color: #4a148c;
    background-color: white;
    font-weight: bolder;
    box-shadow: 1px 5px #1de9b6, -10px 5px #1de9b6, -10px -5px #1de9b6, 1px -5px #1de9b6;
}

.next:hover {
    color: #4a148c;
    background-color: white;
    font-weight: bolder;
    box-shadow: 10px 5px #1de9b6, -1px 5px #1de9b6, -1px -5px #1de9b6, 10px -5px #1de9b6;
}



@keyframes borderLight {
    0% {
        box-shadow: none;
        border-color: #d1c4e9;
    }
    50% {
        box-shadow: 5px 5px 3px #b39ddb, -5px 5px 3px #b39ddb, -5px -5px 3px #b39ddb, 5px -5px 3px #b39ddb, inset 5px 5px 3px #b39ddb, inset -5px 5px 3px #b39ddb, inset -5px -5px 3px #b39ddb, inset 5px -5px 3px #b39ddb;
        border-color: #6200ea;
    }
    100% {
        box-shadow: none;
        border-color: #d1c4e9;
    }
}

.containerSlide {
    margin: 3rem ;
    width: 18rem;
    height: 40rem;
    position: relative;
    perspective: 3000px;
    /* border: 1px solid green; */    
}

.carouselSlide {
    height: auto;
    width: 18rem;
    position: absolute;
    transform-style: preserve-3d;
    transition-property: transform, z-index;
    transition-duration: 1s, 0.5s;      
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 300px;
    /* line-height: 200px; */
    font-size: 1em;
    text-align: center;
    color: #FFF;
    opacity: 1;
    border-radius: 10px;
}

.Arfgrugnugnu {
    transform: rotateY(0deg) translateZ(300px);               
}

.Boulerpion {
    transform: rotateY(120deg) translateZ(300px);        
}

.Golsurg {
    transform: rotateY(240deg) translateZ(300px);   
}

.Alain {
    transform: rotateY(0deg) translateZ(300px);   
}

.Kilucru {
    transform: rotateY(120deg) translateZ(300px);   
}

.Monomomgui {
    transform: rotateY(240deg) translateZ(300px);
}