<h1>Research</h1>
<div class="critere offset-4 col-4">

  <form (ngSubmit)="myForm.valid && onSubmit()" [formGroup]="critereForm" #myForm="ngForm">
    <div *ngIf="displayDiagnostic">
      Form submitted ? {{myForm.submitted}}
      Form valid ? {{myForm.valid}}
      Form invalid ? {{myForm.invalid}}
    </div>

    <div>
      <label class="nomLabel" for="Sexe-critere">Sexe :<br />
        <select class="champ1" name="Sexe-critere" formControlName="Sexe">
          <option value="Mâle">Male</option>
          <option value="Female">Female</option>
          <option value="Mixte">Mixte</option>
        </select>
      </label>
    </div>
    <div>
      <label class="nomLabel" for="nbEyes-critere">Eyes :<br />
        <select class="champ" name="nbEyes-critere" formControlName="nbEyes">
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </label>
    </div>
    <div>
      <label class="nomLabel" for="Skins-critere">Skins :<br />
        <select class="champ1" name="Skins-critere" formControlName="Skins">
          <option value="Lisse">Smooth</option>
          <option value="Reptile">Reptile</option>
          <option value="Fish">Fish</option>
        </select>
      </label>
    </div>
    <button type="submit" class="btn btn-secondary"><a [routerLink]="['/planet']">Search</a></button>
  </form>
</div>