h1{
    text-align: center;
    font-size: 190%;
    font-weight: bold;
    color: white;
}

.critere{
    text-align: center;
    background-color: rgb(241, 238, 238);
    border-style: solid;
    border-width: 5px; 
    border-color: rgb(85, 12, 153);
    border-radius: 10%
    
}
.nomLabel{
    font-weight: bold;
    margin-top:7%;
    font-size: 150%;
}

select{
    
    margin-bottom: 10%;
}

.champ1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    text-align: center;
    background-color: white;
    width: 100%;
}
.champ{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    text-align: center;
    background-color: white;
    width: 110%;
}

button{
    margin-bottom: 10%;
    padding: 5%;
    font-weight: bold;
    font-size: 100%;
}
