
<body>
  <div id="blockpage">

    <h1>Space-Love</h1>
    <!-- Espace connexion et recherche -->
    <div class="container">
      <div class="row">
        <div class="offset-lg-1"></div>
        <app-espace-connexion class="col-lg-4 col-md-6 col-sm-6 col-xs-12 connexion"></app-espace-connexion>
        <div class="offset-lg-2"></div>
        <app-espace-recherche class="col-lg-4 col-md-6 col-sm-6 col-xs-12 recherche"></app-espace-recherche>
        
      </div>
    </div>
    
  </div>
  </body>
  
