.planetFlag {
    padding: 20px 50px;
    border: 2px solid #d1c4e9;
    border-radius: 10px;
    background-color: #ede7f6;
    animation-name: borderLight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align: center;
}


.planetFlag h2 {
    color: black;
    text-shadow: 3px 3px 3px #6a1b9a;
}

.planetFlag p {
    color: #6a1b9a;
    font-size: 2rem;
    margin: 0;
}

@keyframes borderLight {
    0% {box-shadow: none; border-color: #d1c4e9;}
    50% {box-shadow: 5px 5px 3px #b39ddb, -5px 5px 3px #b39ddb, -5px -5px 3px #b39ddb, 5px -5px 3px #b39ddb,inset 5px 5px 3px #b39ddb,inset -5px 5px 3px #b39ddb,inset -5px -5px 3px #b39ddb,inset 5px -5px 3px #b39ddb; border-color: #6200ea;}
    100% {box-shadow: none; border-color: #d1c4e9;}
}