/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Casanova_Scotia";
    src: url("../src/assets/fonts/Casanova_Scotia.otf") format("opentype");
}

@font-face {
    font-family: "Disko";
    src: url("../src/assets/fonts/Disko_OT.otf") format("opentype");
}

@font-face {
    font-family: "Futura-Condensed-Light";
    src: url("../src/assets/fonts/Futura-CondensedLight.otf") format("opentype");
}

h1, h2 {
    font-family: "Casanova_Scotia", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: "Futura-Condensed-Light", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}