/* .map-container {
    border: 2px solid #6200ea;
    border-radius: 10px;
    background-color: #ede7f6;
} */

@font-face {
    font-family: "Casanova_Scotia";
    src: url("../../assets/fonts/Casanova_Scotia.otf") format("opentype");
}

#map-wrapper {
    position: relative;
    height: 46rem;
}

#wrapEffect {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /* animation: show 6s 1 linear; */
}

.wrapEffectAnimation {
    animation: show 6s 1 linear;
}

.mainPlanetFlag {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0);
}

#choosePlanetButtons {
    position: absolute;
    width: 100%;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn {
    background-color: #ede7f6;
    font-size: 2rem;
    font-family: "Casanova_Scotia";
    color: black;
    border: 2px solid #6200ea;
    border-radius: 10px;
}

#previous {
    box-shadow: 1px 5px #b39ddb, -10px 5px #b39ddb, -10px -5px #b39ddb, 1px -5px #b39ddb;
}

#next {
    box-shadow: 10px 5px #b39ddb, -1px 5px #b39ddb, -1px -5px #b39ddb, 10px -5px #b39ddb;
}

#previous:hover {
    color: #4a148c;
    background-color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 0px black;
    box-shadow: 1px 5px #1de9b6, -10px 5px #1de9b6, -10px -5px #1de9b6, 1px -5px #1de9b6;
}

#next:hover {
    color: #4a148c;
    background-color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 0px black;
    box-shadow: 10px 5px #1de9b6, -1px 5px #1de9b6, -1px -5px #1de9b6, 10px -5px #1de9b6;
}

@keyframes show {
    0% {
        display: inline-block;
        z-index: 3;
    }
    95% {
        display: inline-block;
        z-index: 3;
    }
    100% {
        display: none;
        z-index: -1;
    }
}

.wall {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/PIA09959-1280x800_copy.jpg);
    background-size: cover;
}

.scene {
    /* display: inline-block;
    vertical-align: middle; */
    width: 100%;
    height: 100%;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
    overflow: hidden;
}

.wrap {
    position: absolute;
    width: 800px;
    height: 800px;
    /* left: -400px;
    top: -400px; */
    transform-style: preserve-3d;
    /* animation: move 12s 1 linear;
    animation-fill-mode: forwards; */
}

.firstWrapMoveAnimation {
    animation: move 12s 1 linear;
    animation-fill-mode: forwards;
}

/* .wrap:nth-child(2) {
    animation: move 4s 1 linear;
    animation-delay: 2s;
} */

.secondWrapMoveAnimation {
    animation: move 4s 1 linear;
    animation-delay: 2s;
}

.wall {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    /* animation: fade 4s 1 linear;
    animation-delay: 1s; */
}

.firstWallAnimation {
    animation: fade 4s 1 linear;
    animation-delay: 1s;
}

.wrap:nth-child(2) .wall {
    /* animation-delay: 2s; */
}

.secondWallAnimation {
    animation: fade 4s 1 linear;
    animation-delay: 2s;
}

.wall-right {
    transform: rotateY(90deg) translateZ(400px);
}

.wall-left {
    transform: rotateY(-90deg) translateZ(400px);
}

.wall-top {
    transform: rotateX(90deg) translateZ(400px);
}

.wall-bottom {
    transform: rotateX(-90deg) translateZ(400px);
}

.wall-back {
    transform: rotateX(180deg) translateZ(400px);
}

@keyframes move {
    0% {
        transform: translateZ(-400px) rotate(0deg);
    }
    100% {
        transform: translateZ(400px) rotate(0deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}