<div *ngFor="let planet of planets">
  <p>{{planet.id}}</p>
  <p>{{planet.hostname}}</p>
  <p>{{planet.letter}}</p>
  <p>{{planet.name}}</p>
  <p>{{planet.orbitalPeriode}}</p>
  <p>{{planet.radiusJupiter}}</p>
  <p>{{planet.massJupiter}}</p>
  <p>{{planet.density}}</p>
  <p>{{planet.rightAscension}}</p>
  <p>{{planet.declination}}</p>
  <p>{{planet.distanceFromOurSolar}}</p>
  <p>{{planet.temperature}}</p>
  <p>{{planet.stellarMass}}</p>
  <p>{{planet.stellarRadius}}</p>
  <p>{{planet.lastUpdate}}</p>
</div>
